@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css');
/* Change la couleur de la croix de fermeture du Offcanvas */
.offcanvas .btn-close {
    filter: invert(1) grayscale(1) brightness(2);
}
